/*****************************************************************
 * colors.scss
 *
 *  Color variables for was.black
 **/

 $color-cream: #fef7ec;
 $color-mauve-medium-dark-purple: #3f3542;
 $color-mauve-dark-purple: #291e2c;